* {
  font-family: Arial;
  color: #aaa;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#title {
  text-align: center;
}

.btn {
  margin: 2px;
}

.block {
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: initial;
  text-align: center;
}

.anchor, .positive, .negative {
  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  width: 30%;
}
.anchor img, .positive img, .negative img {
  width: 100%;
  height: 200px;
  background-color: #aaa;
}
